<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Responsive Navbar</title>

</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Responsive Navbar</title>
  <link href="styles.css" rel="stylesheet" />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<body>
<div class="page-header">
  <div class="logo">
    <p>Logo</p>
  </div>
  <a id="menu-icon" class="menu-icon" onclick="onMenuClick()">
    <i class="fa fa-bars"></i>
  </a>

  <div id="navigation-bar" class="nav-bar">
    <a href="#" class="active">Home</a>
    <a href="#">Services</a>
    <a href="#">Profile</a>
    <a href="#">About</a>
    <a href="#">Contact us</a>
  </div>

  <div class="header-right"><button>Sign in</button></div>
</div>
</body>
</html>
</body>
</html>